@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.btn-bg {
    background: #DC2D40;
    background: linear-gradient(0deg, #DC2D40, #DA6027);
    transition: all 5000ms ease-in-out;
}

.btn-bg:hover {
    background: #DC2D40;
    background: linear-gradient(180deg, #DC2D40, #DA6027);
}

.topnav{
    box-shadow: 2px 40px 40px black inset
    /* box-shadow:  */
}
.responsive-nav{
    display: none;
}

.translate-up{
    transform: translateY(-120%);
}

.translate-down{
    transform: translateY(0%);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 1024px) {
    .responsive-nav{
        display: flex;
    }
  }

  .scrollable-section {
    /* Set a fixed height for the section to enable scrolling */
    height: 100%;
    /* Enable overflow to allow content to be scrolled */
    overflow: auto;
  }
  
  /* Define the styles for the scrollbar */
  .scrollable-section::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
    border-radius: 2px;
  }
  
  /* Handle (the draggable part) of the scrollbar */
  .scrollable-section::-webkit-scrollbar-thumb {
    background-color: #1976d2; /* Color of the scrollbar handle */
    border-radius: 4px;
  }
  
  /* Track (the area the handle moves along) of the scrollbar */
  .scrollable-section::-webkit-scrollbar-track {
    background-color: transparent; /* Color of the scrollbar track */
    border-radius: 4px;
  }

.font-poppins{
  font-family: 'Poppins', sans-serif;
}